* {
    font-family: Arial, Helvetica, sans-serif;
}

.container-about_us {
    width: 100%;
}

.logo img {
    width: 65%;
    height: auto;
}

.namehotel {
    color: rgb(5, 5, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}

.reservation {
    background-color: rgb(41, 152, 172);
    border-radius: 7px;
    width: fit-content;
    padding: 0 7px 3px 7px;
}

.photohotel {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 0 0.6rem 0;
    background-color: rgb(223, 223, 223);
}

img {
    border-radius: 5px;
    opacity: 0.9;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10rem;
}

.list-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-image: url(https://i.postimg.cc/br14r4B2/blackgroundlux.png);
    height: 6rem;
    margin: 0 0 0 0;
}

.nav-link {
    text-decoration: none;
    color: silver;
    font: 20px arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: rgb(9, 88, 102);
    width: 100%;
    opacity: 0.9;
}

.description {
    background-color: steelblue;
}

footer {
    background-color: rgb(9, 88, 102);
    height: 2rem;
    color: silver;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.container-about_us {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 45px;
    margin: 30px 5px 10px 5px;
}


/* media query with max-witdh i.e.900px */

.description {
    width: 65%;
    padding: 0 5px 15px 5px;
    background-color: rgb(9, 88, 102);
    margin: 0 15px 0 15px;
    border-top: 15px solid black;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.849);
    text-align: justify;
    font-weight: bold;
    max-width: 60em;
    line-height: 1.15;
}

.center-title {
    color: rgba(255, 255, 255, 0.849);
    margin: 0 0 0 0;
    background-color: black;
}

.reservation-form_field {
    display: flex;
    flex-direction: column;
    /*make the form width 100% flexbox default*/
}

.date-reservation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.group-field_adults {
    display: flex;
    flex-direction: column;
}

.group-children_rooms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/*make the form width 100% flexbox default*/


/* style container-info-rooms */

.wrapper-rooms {
    background-color: rgb(216, 216, 216);
    margin: 0 0 15px 15px;
}

.information-room {
    background-color: white;
    width: fit-content;
    padding: 3px 3px 3px 3px;
}

.description-room {
    width: 300px;
    text-align: center;
    line-height: 1.15;
}

.room-rate,
.list-amenities,
.book-room,
h2 {
    text-align: center;
    margin-bottom: 10px;
}

.header-rooms h2 {
    background-color: rgb(255, 255, 255);
}

.header-rooms {
    display: flex;
    justify-content: center;
}

.list-amenities {
    list-style-type: none;
}

.image-room {
    display: flex;
    justify-content: center;
    align-content: center;
}

.information-room {
    position: absolute;
    left: 560px;
    top: 1450px;
    box-shadow: 10px 10px 10px rgb(160, 160, 160);
}


/* hotel search style */

.reason {
    margin: 0 5px 15px 5px;
    border-bottom: 2.5px solid gray;
}