.container-about_us {
    width: 100%;
}

.logo img {
    width: 70%;
    height: auto;
}

.namehotel {
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}

.reservation {
    background-color: rgba(66, 147, 185, 0.479);
    width: fit-content;
    padding: 0 5px 3px 5px;
}

.photohotel {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0.6rem 0 0.6rem 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10rem;
}

.list-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-image: url(https://i.postimg.cc/br14r4B2/blackgroundlux.png);
    height: 6rem;
    margin: 0 0 0 0;
}

.nav-link {
    text-decoration: none;
    color: silver;
    font: 20px arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: rgb(9, 88, 102);
    width: 100%;
    opacity: 0.9;
}

.description {
    background-color: steelblue;
}

footer {
    background-color: rgb(9, 88, 102);
    height: 2rem;
    color: silver;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.container-about_us {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.description {
    width: 70%;
}


/*current working*/